<app-form-preview-shell
    class="block h-full w-full min-w-0 flex-1"
    [previewSource]="previewSource"
    [formKokEid]="formKokEid"
    [kullaniciFormEid]="kullaniciFormEid"
    [showBackButton]="true"
    [showPdfButton]="showPdfButton"
    [pdfDownloading]="pdfDownloading"
    [backButtonLabel]="backButtonLabel"
    [defaultTwoColumnMode]="true"
    [defaultCompactMode]="false"
    [isLoading]="resolvingRoute"
    (backButtonClick)="onBackClick()"
    (pdfDownloadClick)="onPdfDownload()">
</app-form-preview-shell>