<ng-container *ngIf="!isAnswerOnly; else answerOnlyTemplate">
    <div class="question-scale-row">
        <button
            type="button"
            class="question-scale-button"
            *ngFor="let scaleValue of scaleValues"
            [disabled]="isInputDisabled || isInputReadonly"
            [class.question-scale-button--active]="value === scaleValue"
            (click)="selectValue(scaleValue)">
            {{ scaleValue }}
        </button>
    </div>

    <div class="question-scale-legend" *ngIf="schema.minLabel || schema.maxLabel">
        <span>{{ schema.minLabel }}</span>
        <span>{{ schema.maxLabel }}</span>
    </div>
</ng-container>

<ng-template #answerOnlyTemplate>
    <div class="question-answer-box" [class.question-answer-box--secondary]="value === null">
        {{ summaryText }}
    </div>
</ng-template>
