<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="ek-theme-nav dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex w-full flex-col px-4 pt-4 pb-0">
            <!-- Logo + sağ butonlar -->
            <div class="flex w-full items-center pl-2">
                <div class="flex items-center justify-center">
                    <img class="w-8 ek-theme-logo" [ngClass]="logoThemeClass" src="images/logo/logo.svg" />
                </div>
                <div class="ml-auto flex items-center">
                    @if (config?.headerButtons?.showNotifications !== false) {
                        <notifications></notifications>
                    }
                    @if (config?.headerButtons?.showUser !== false) {
                        <user [showAvatar]="false"></user>
                    }
                </div>
            </div>
            <!-- Etik kurul adı (logo altında) -->
            @if (selectedEtikKurulNameLines.length > 0) {
                <div class="mt-2 w-full space-y-1 text-center">
                    @for (line of selectedEtikKurulNameLines; track $index) {
                        <div class="break-words px-1 text-base font-semibold leading-5 text-white dark:text-slate-100">{{ line }}</div>
                    }
                </div>
            }
        </div>
        <!-- User -->
        <div class="flex w-full flex-col items-center px-4 pb-2 pt-0">
            @if (user.avatar) {
                <div class="relative mt-4 h-24 w-24">
                    <img
                        class="h-full w-full rounded-full"
                        [src]="user.avatar"
                        alt="User avatar"
                    />
                </div>
            }
            <div class="mt-4 flex w-full flex-col items-center justify-center">
                <div
                    class="w-full overflow-hidden text-ellipsis whitespace-nowrap text-center font-medium leading-normal"
                >
                    {{ user.name }} {{ user.lastName }}
                </div>
                <div
                    class="text-secondary mt-0.5 w-full overflow-hidden text-ellipsis whitespace-nowrap text-center text-md font-medium leading-normal"
                >
                     {{ user.email }}
                </div>
            </div>
            <div class="mt-3 h-px w-full bg-white/15"></div>
            @if (showEtikKurulSelector) {
                <div class="mt-2 w-full px-1">
                    <button
                        mat-button
                        [matMenuTriggerFor]="etikKurulNavMenu"
                        class="relative flex h-11 w-full items-center justify-center overflow-hidden rounded-lg pr-8 pl-3"
                        [ngClass]="selectedEtikKurulThemeClass"
                    >
                        <span class="text-sm font-semibold leading-5">{{ selectedEtikKurulShortName }}</span>
                        <mat-icon class="!h-4 !w-4 absolute right-3 flex-none text-current" [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </button>
                    <mat-menu [xPosition]="'after'" [overlapTrigger]="false" class="ek-etik-kurul-menu-panel" #etikKurulNavMenu="matMenu">
                        @for (item of etikKurulOptions; track trackByEtikKurul($index, item)) {
                            <button mat-menu-item (click)="onEtikKurulChange(item)" class="ek-etik-kurul-menu-item rounded-lg py-2" [ngClass]="getEtikKurulItemClass(item)">
                                <span class="block w-full whitespace-normal break-words text-sm font-medium leading-6 sm:text-base">{{ item.name }}</span>
                            </button>
                        }
                    </mat-menu>
                </div>
            }
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div
            class="mb-4 mt-2 flex h-16 flex-0 items-center justify-center pl-2 pr-6 opacity-12"
        >
            <img class="max-w-36" src="images/logo/logo-text-on-dark.svg" />
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 print:hidden"
    >
        <!-- Navigation toggle button -->
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            @if (config?.headerButtons?.showLanguages !== false) {
                <languages></languages>
            }
            @if (config?.headerButtons?.showFullscreen !== false) {
                <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            }
            @if (config?.headerButtons?.showSearch !== false) {
                <search [appearance]="'bar'"></search>
            }
            @if (config?.headerButtons?.showShortcuts !== false) {
                <shortcuts></shortcuts>
            }
            @if (config?.headerButtons?.showMessages !== false) {
                <messages></messages>
            }
            @if (config?.headerButtons?.showQuickChat !== false) {
                <button
                    class="lg:hidden"
                    mat-icon-button
                    (click)="quickChat.toggle()"
                >
                    <mat-icon
                        [svgIcon]="'heroicons_outline:chat-bubble-left-right'"
                    ></mat-icon>
                </button>
            }
            @if (config?.headerButtons?.showSettings && config?.settingsConfig?.buttonPosition === 'header') {
                <button mat-icon-button matTooltip="Görünüm Ayarları" (click)="toggleSettings()">
                    <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
                </button>
            }
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-auto flex-col">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>

    <!-- Footer -->
    <!--<div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">İstanbul Üniversitesi Bilgi İşlem Daire Başlanlığı &copy; {{currentYear}}</span>
    </div>-->
</div>

<!-- Quick chat -->
@if (config?.headerButtons?.showQuickChat !== false) {
    <quick-chat #quickChat="quickChat"></quick-chat>
}
